
.askqs:link,.askqs:visited,.askqs:active{
    
background-color:  #FF7361 !important;
font-family: Open Sans, Arial, sans-serif;
font-size : 16px !important;
font-weight : 700;
text-decoration : none solid rgb(255, 255, 255);
color:white !important;
padding: 12px 20px !important;
box-shadow: rgb(222, 222, 222) 0px 0px 5px 0px;
}
.askqs:hover{
    background-color: #2F3239 !important;
color:white !important;
text-decoration : none solid rgb(255, 255, 255);
box-shadow: rgb(222, 222, 222) 0px 0px 5px 0px;
}

.stat{
    color:#FF7361;
    font-size: 24px;
    font-family: "Open Sans", Arial, sans-serif;
    border-bottom:2px solid #DEDEDE;
    padding: 8px; 
    font-weight: 500;
    margin: 0px;
    margin-bottom: 25px;
    padding-top: 0px;
}
.ulstat{
        font-family: "Open Sans", Arial, sans-serif;
	font-size: 20px;
	font-weight: 500;
	text-decoration: none solid rgb(47, 50, 57);
	width: 100%;
	margin-top: 20px;
	padding: 0px;
	
	list-style-image: none;
	list-style-type: none;
	list-style-position: outside;

}
.ulstat > li{

        font-family: "Open Sans", Arial, sans-serif;
	font-size: 18px;
	font-weight: 700;
	text-decoration: none solid rgb(47, 50, 57);

        background-color: rgb(234, 234, 235);
	color: rgb(47, 50, 57);
        
	height: 46px;
	width: 100%;
	margin: 0px 0px 15px;
	padding: 10px;

	list-style-image: none;
	list-style-type: none;
	list-style-position: outside;

}

.idiv{
  background-color:#2F3239;
  display:inline-block;  
  margin-right: 10px;
}
.divicon{
   color:white;
   background-color:#2F3239;
   margin:5px; 
  
}
.ulpopq{
        font-family: "Open Sans", Arial, sans-serif;
	font-size: 16px;
	font-weight: 600;
	text-decoration: none solid rgb(47, 50, 57);
	width: 100%;
	margin-top: 0px;
	padding: 0px;
        word-wrap: break-word; 
	padding-left: 5px; 
	list-style-image: none;
	list-style-type: none;
	list-style-position: outside;
    
}
.ulpopq > li{
    margin-bottom: 15px;
    line-height:normal;
}

   .ulpopq > li > a:link,.ulpopq > li > a:visited,.ulpopq > li > a:active{
              color:inherit;
              text-decoration: none;
          }
          .ulpopq > li > a:hover{
              color:#FF7361;
              text-decoration: none;
          }